h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style: oblique;
  }

  body {
    font-size: 16px;
    text-decoration: underline;
  }

  p {
    font-weight: 600;
    font-size: 3em;
    line-height: 50px;
  }

  li {
    background-color: plum;
    font-size: 20px;
  }

  .color-change {
    background-color: pink;
  }